<h2>Meine Zaubersprüche</h2>
<div>
  <label id="new-spell">Spell name: </label>
  <input for="new-spell" #spellName />
  <label id="new-spell-class">Spell Class: </label>
  <input for="new-spell-class" [(ngModel)]="spellClassy"  #spellClass />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(spellName.value, spellClass.value); spellName.value=''; spellClass.value=''">
    Add hero
  </button>
</div>

 <button (click)="goBack()">go back </button>